<template>
  <draggable
      v-model="board.steps"
      group="steps"
      item-key="id"
      class="row"
      tag="div"
      @start="onDragStart"
  >
    <template #item="{ element: step }">
      <div class="col-md-3 column">
        <h2 class="text-center">{{ step.name }}</h2>
        <draggable
            :list="getTasksForStep(step.id)"
            group="tasks"
            item-key="id"
            class="list-group"
            tag="ul"
            :data-step-id="step.id"
            @end="onTaskDrop"
        >
          <template #item="{ element: task }">
            <li
                class="task"
                :key="task.id"
                :data-task-id="task.id"
            >
              {{ task.name }}
            </li>
          </template>
        </draggable>
      </div>
    </template>
  </draggable>
</template>

<script setup>
import { computed, onMounted } from 'vue';
import { useRoute, onBeforeRouteUpdate } from 'vue-router';
import draggable from 'vuedraggable';
import store from '../store';

const route = useRoute();

onBeforeRouteUpdate(async (to, from) => {
  await store.dispatch('fetchBoard', { boardSlug: to.params.slug });
});

const board = computed(() => {
  return store.getters.getCurrentBoard;
});


const tasks = computed(() => {
  return store.getters.getBoardTasks;
});

const getTasksForStep = (stepId) => {
  return tasks.value.filter(task => task.status === stepId);
};

const onDragStart = (event) => {
  console.log(event.item.id)
}

const onTaskDrop = async (event) => {
  const { item, from, to } = event;

  // Get the new status from the drop target
  const newStatus = parseInt(to.dataset.stepId, 10);
  const taskId = parseInt(item.dataset.taskId, 10);

  // Find the task being moved
  const task = tasks.value.find(t => t.id === taskId);
  if (task && newStatus !== task.status) {
    try {
      // Update the task status in the backend
      await store.dispatch('updateTaskStatus', { boardId: board.value.id, task, taskStatus: newStatus });

      // Update the task status locally
      task.status = newStatus;
    } catch (error) {
      console.error('Failed to update task status:', error);
    }
  }
  // let status = parseInt(to.dataset.stepId);
  // let taskId = parseInt(item.dataset.taskId);
  // let task = tasks.value.find(task => task.id === taskId);
  // console.log(task)
  // console.log(status)
  // // Dispatch an action to update the task status in the store
  // store.dispatch('updateTaskStatus', { boardId: board.value.id, task: task, taskStatus: status });
};

onMounted(async () => {
  await store.dispatch('fetchBoard', { boardSlug: route.params.slug });
});
</script>

<style scoped>
.column {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  min-height: 300px;
}
.task {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: grab;
}
.dragging {
  opacity: 0.5;
}
</style>
