<template>
  <h2>Boards</h2>
  <ul class="nav flex-column">
    <li class="nav-item">
      <RouterLink
          v-for="board in boards"
          class="nav-link active" aria-current="page"
          :key="board.id"
          :to="{name: 'board', params:{slug: board.slug}}">
        {{ board.name }}
      </RouterLink>
    </li>
  </ul>
</template>

<script setup>
import {computed, onMounted} from "vue";
import store from "@/store/index.js";

let boards = computed(() => {
  return store.getters.getBoards
})

// Define computed property
onMounted( async() => {
  await store.dispatch('fetchBoards')
})

</script>
<style scoped>

</style>