<script setup>

import Sidebar from "@/components/sidebar.vue";
</script>

<template>
  <div class="row mt-5 pl-3">
    <div class="col-2">
      <sidebar/>
    </div>
    <div class="col-10">
        <div class="content">
          <RouterView />
        </div>
    </div>
  </div>

</template>

<style scoped>

</style>
